
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
 

    padding: 0.69vw;
    align-items: center;
    justify-content: space-between;
}
.social-links {
    display: flex;
    justify-content: end;
}
.social-links a {

    text-decoration: none;
    margin-right: 0.69vw;
}
.social-links img{
  width: 2.78vw;
  height: 2.78vw;
}
.search-box {
    display: flex;
justify-content: space-between;
}
.search-box img{
    width: 4.17vw;
    height: 4.17vw;
    border-radius: 50%;
    margin-left: 4.17vw;
}


.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.69vw; 
  margin-bottom: 1.39vw;
  margin-left: 13.89vw;
}


#searchInput {
  padding: 0.56vw;
  border: 1px solid #ccc;
  border-radius: 0.28vw;
  font-size: 1.11vw;
  width: 17.36vw; 
}


#searchButton {
  padding: 0.56vw 1.04vw;
  margin-left: 0.69vw;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.28vw;
  cursor: pointer;
  font-size: 1.11vw;
}


#searchButton:hover {
  background-color: #0056b3;
}




.account-info a {
  text-decoration: none;
  font-weight: bold;
  padding: 0.56vw 1.11vw;
  border-radius: 0.28vw;
  transition: background-color 0.3s, color 0.3s;

}

.account-info .account-link {
  background-color: #393280;
  color: #fff;
font-size: 1.11vw;
}

.account-info .account-link:hover {
  background-color: #281d5a;
}

.account-info .cart-link {
  background-color: #007bff;
  color: #fff;
  margin-left: 0.69vw;
  font-size: 1.11vw;
}

.account-info .cart-link:hover {
  background-color: #0056b3;
}




.account-info {
    margin-right: 1.39vw;
    margin-top: 1.39vw;
}
nav {
    background-color: #f4f4f4;
    padding: 0.69vw;
 
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2.08vw;
    width: 41.67vw;
    margin-right: auto;
    margin-left: auto;
}
nav ul li {
    display: inline;
    margin-right: 0.69vw;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.11vw;
}
.content {
  max-width: 100vw ;
    display: flex;
   gap: 5.56vw;
   margin-left: auto;
   margin-right: auto;
    align-items: center;
    text-align: center;
}
.content img {
 width: 50.56vw;
    height: 48.61vw;
}
.read-more {
    margin-top: 0.69vw;
    padding-top: 0.97vw;
    border-radius: 0.49vw;
    border: 1px solid #393280;
    width: 12.99vw;
height: 3.47vw;
}
.read-more a{
    color: #393280;
    font-family: 'Inter', sans-serif;
    font-size: 1.11vw;
    font-style: normal;
    font-weight: 400;
    line-height: 220%;
    letter-spacing: 0.11vw;
    text-transform: uppercase;
    padding-left: 2.08vw;
    text-decoration: none;
}
.slider-dots {
    margin-top: 1.39vw;
}
.slider-dot {
    display: inline-block;
    width: 0.69vw;
    height: 0.69vw;
    border-radius: 50%;
    background-color: #333;
    margin: 0 0.35vw;
}
.text{
    text-align: left;
    margin-bottom: 3.47vw;
    width:  42.15vw;
    margin-left: 1.39vw;
}
.text h1{
    color: #393280;
font-family: 'Inter', sans-serif;
font-size: 4.17vw;
font-style: normal;
font-weight: 600;
line-height: 145%; 
letter-spacing: -1.2px;
text-transform: capitalize;
}
.text p{
    color: rgba(57, 50, 128, 0.80);
font-family: 'Inter', sans-serif;
font-size: 1.53vw;
font-style: normal;
font-weight: 500;
line-height: 180%; 
letter-spacing: 0.88px;
}



.container {
    max-width:  100vw;
    display: flex;
    justify-content: space-between;
margin-left: auto;
margin-right: auto;
   margin-top:  3.75vw;
  }
  
.book-container2{
width: 20.83vw;
margin-left: auto;
margin-right: auto;
}
.book-container2 p{
  text-align: center;
}


.container-child {
    position: relative;
  }
  
  .book-info {
    position: relative;
    display: inline-block;
  }
  
  .book-info img {
    width: 28.89vw;
    height: 17.15vw;
    transition: filter 0.3s ease-in-out;
  }
  
  .book-info .info-button {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.56vw  1.11vw;
    background-color: #393280;
    color: #fff;
    text-decoration: none;
    font-size: 0.97vw;
    border-radius: 0.28vw;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .book-info:hover img {
    filter: brightness(80%);
  }
  
  .book-info:hover .info-button {
    display: inline-block;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .info-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
  
  
  
  .sidebar {
    width: 49.10vw;
  }
  .sidebar p{
    color: rgba(57, 50, 128, 0.70);
font-family: 'Inter', sans-serif;
font-size: 1.25vw;
font-style: normal;
font-weight: 500;
line-height: 2.22vw; 
  }
  
  .categories {
    flex: 3;
  }
  
  .categories h2 {
    color: #ED553B;
font-family: 'Inter', sans-serif;
font-size: 0.97vw;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.4px;
  }
  
  .categories h3 {
    color: #393280;
    font-family: 'Inter', sans-serif;
    font-size: 2.22vw;
    font-style: normal;
    font-weight: 700;
    line-height: 3.06vw;
  }
  


  .slider {
    position: relative;
    width: 10.42vw;
    height: 0.69vw; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.39vw;
    margin-bottom: 2.08vw;
  }
  
  .slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.78vw; 
    height: 2.78vw; 
    border: none;
    border-radius: 50%;
    font-size: 1.67vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .left-arrow {
    left: 0.35vw;
    background-image: linear-gradient(to right, #f05746, #f5af19);
  }
  
  .right-arrow {
    right: 0.35vw;
    background-image: linear-gradient(to right, #f5af19, #f05746);
  }
  
  .slider-arrow:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .slider-arrow:hover {
    background-size: 200%;
    animation: gradientShift 1.5s infinite alternate;
  }
  
  @keyframes gradientShift {
    to {
      background-position: 200%;
    }
  }



  .container-child h4{
    margin-top: 1.04vw;
    text-align: center;
    color: #393280;
text-align: center;
font-family: 'Inter', sans-serif;
font-size:  1.67vw;
font-style: normal;
font-weight: 600;
line-height: 0.22vw;
  }
  .container-child p{
    margin-top: -21px;
    width: 28.89vw;
    text-align: center;
    color: rgba(57, 50, 128, 0.70);
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 1.11vw;
font-style: normal;
font-weight: 400;
line-height: 1.94vw; 
  }
  .container-child img{
width: 27.89vw;
height: 17.15vw;
  }

  .view-more {
    padding-top: 0.90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.69vw;
    border-radius: 0.49vw;
    border: 1px solid #393280;
    width: 12.99vw;
height: 3.47vw;
}
.view-more a{
    color: #393280;
    font-family: 'Inter', sans-serif;
    font-size: 1.11vw;
    font-style: normal;
    font-weight: 400;
    line-height: 220%;
    letter-spacing: 1.6px;
    text-transform: uppercase;
    padding-left: 2.08vw;
    text-decoration: none;
}



.book-container {
    position: relative;
    display: inline-block;
  }
  
  .book-container img {
    width: 13.89vw;
    height: auto; 
  }
  
  .cart-button {
    position: absolute;
    width: 5.90vw;
    text-align: center;
    height: 1.39vw;
    font-size: 1.11vw;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ee5959;
    color: #fff;
    padding: 0.56vw 0.97vw;
    border: none;
    cursor: pointer;
    display: block;
    text-decoration: none;
    border-radius: 0.49vw;
    
}

.container-child2 img{
    border: 0.0694vw solid #ccc;
    box-shadow: 0.14vw 0.14vw 0.42vw rgba(0, 0, 0, 0.3);
    padding: 2.92vw;
    width: 15.28vw;
height: 22.08vw;
}
.container-child2 .bookinfo p{
    text-align: center;
}
.book-name{
    color: #393280;
font-family: 'Inter', sans-serif;
font-size: 1.53vw;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
.book-author{
    color: #888;
font-family: 'Inter', sans-serif;
font-size: 1.11vw;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.28px;
text-transform: capitalize;
margin-top: -10px;
}
.price{
    color: #ED553B;
font-family: 'Inter', sans-serif;
font-size: 1.25vw;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.36px;
text-transform: capitalize;
}
.container-header{
text-align: center;
margin-top: 6.25vw;
}
.container-header h3{
    color: #7A7A7A;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 0.90vw;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1.56px;
text-transform: uppercase;
}
.container-header h2{
    margin-top: 0vw;
    color: #393280;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 3.33vw;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
section .slider-dots{

    text-align: center;
}
.container-footer{

    max-width: 53.47vw;
    display: flex;
justify-content: space-between;
margin-left: auto;
margin-right: 2.08vw;
}
.container-footer p{
    color: #ED553B;
text-align: right;
font-family: 'Inter', sans-serif;
font-size: 1.11vw;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.32px;
text-transform: capitalize;
}
.sec3{
    background: linear-gradient(75deg, #FBEEEE 11.08%, #F7FFFE 89.87%);
}
.featuredbook{
    width: 28.68vw;
height: 41.81vw;
margin-left: 4.86vw;
margin-top: 2.78vw;
}
.container-child3{
    margin-top: 6.94vw;
}
.container-child3 h2{
    color: #393280;
font-family: 'Inter', sans-serif;
font-size: 3.33vw;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
.container-child3 hr{
    margin-top: -0.69vw;
    margin-bottom: 0.90vw;
    width: 7.01vw;
height: 0.139vw;
margin-left: 0;
background-color: #ED553B;
}
.container-child3 .text{
margin-left: 0;
    color: #7A7A7A;
font-family: 'Inter', sans-serif;
font-size: 1.11vw;
font-style: normal;
font-weight: 400;
line-height: 208%; 
letter-spacing: 0.32px;
margin-bottom: 0vw;
}
.container-child3 .view-more{
    margin-left: 0vw;
    margin-top: 4.86vw;
}
.container2 {
    width: 83.333vw;
    display: flex;
    justify-content: space-between;
margin-left: auto;
margin-right: auto;
   margin-top: 3.75vw;
  }





  .container4{
    width: 78.472vw;
    height: 34.722vw;
    border-radius: 1.389vw;
background: #FCEBEA;
display: flex;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
margin-top: 3.47vw;
padding: 4.86vw;
}

.days-amount{
    color: #ED553B;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 1.81vw;
font-style: normal;
font-weight: 700;
line-height: 180%; 
letter-spacing: 0.18vw;
text-transform: uppercase;
}
.days{
    color: #000;
font-family: Inter;
font-size: 1.11vw;
font-style: normal;
font-weight: 500;
line-height: 180%;
letter-spacing: 1.6px;
text-transform: uppercase;
}
.container-child4 div{
    display: flex;
    justify-content: space-between;
}
.container-child4 img{
    width:  43.89vw;
height: 33.89vw;
}
.container-child4 h2{
    color: #463C74;
font-family: Inter;
font-size: 3.13vw;
font-style: normal;
font-weight: 700;
line-height: 4.58vw;
}
.container-child4 p{
    color: #393280;
font-family: Inter;
font-size: 1.25vw;
font-style: normal;
font-weight: 400;
line-height: 2.22vw;
letter-spacing: 0.9px;
}
.from{
    display: inline-block;
    
}
.from .price{
    color: #ED553B;
margin-top: 0vw;
text-align: center;
font-family: Inter;
font-size: 1.81vw;
font-style: normal;
font-weight: 700;
line-height: 180%;
letter-spacing: 0.18vw;
text-transform: uppercase;

}
.from b{
    margin-top: -5px;
    color: #000;
font-family: Inter;
font-size: 1.11vw;
font-style: normal;
font-weight: 500;
line-height: 180%;
letter-spacing: 0.11vw;
text-transform: uppercase;
}
.sec5 h3{
    color: #444;
text-align: center;
font-family: Inter;
font-size: 2.22vw;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.12vw;
}

.container5{
    width: 87.92vw;
    display: flex;
   gap: 10.42vw;
margin-left: auto;
margin-right: auto;
   margin-top: 3.75vw;
}


.container-child5 p{
    color: #FFF;
font-family: Open Sans;
font-size: 1.53vw;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.12vw;


}

.container-child5 {
  position: relative;
}

.info-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  padding: 0.69vw;
  background-color: #393280;
    color: #fff;
    text-decoration: none;
    font-size: 0.97vw;
    border-radius: 0.28vw;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.container-child5:hover .info-button {
  opacity: 1;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  width: 100%;
  height: auto; 
  transition: filter 0.3s ease-in-out;
}

.image-container:hover img {
  filter: brightness(80%);
  box-shadow: 0.14vw 0.14vw  0.42vw rgba(0, 0, 0, 0.3);
}
.container-child5 .overlay-text1 {
  position: absolute;
  top: 70%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-family: Open Sans;
  font-size: 1.81vw;
  margin-left: 0.69vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.12vw;
  width: 80%; 
  max-width: 62.5vw; 

}
.container-child5 .overlay-text2 {
  position: absolute;
  top: 85%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-family: Open Sans;
  font-size: 1.18vw;
  margin-left: 0.69vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12vw;
  width: 80%; 
}


/* footer */
.footer {
  background: linear-gradient(
    90deg,
    rgba(255, 229, 229, 0.52) 0%,
    rgba(245, 255, 254, 0.52) 13.33%,
    rgba(252, 243, 255, 0.52) 54.58%,
    rgba(255, 244, 229, 0.52) 99.86%
  );
  padding: 2.08vw 0vw;
  font-family: Arial, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 83.33vw;
  margin: 0 auto;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 6.94vw;
}
.logo{
  display: flex;
  gap: 1.389vw;
  
}

.logo img {
  height: 4.17vw;
  border-radius: 50%;
  margin-right: 0.69vw;
}

.logo span {
  font-weight: bold;
  font-size: 1.67vw;
  margin-top: 1.389vw;
}

.social-links a {
  font-size: 1.389vw;
  margin-right: 1.04vw;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #f57c00; 
}

.right-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.right-section ul li {
  margin-right: 1.39vw;
}

.right-section ul li a {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
  font-size: 1.11vw;
}

.right-section ul li a:hover {
  color: #f57c00; 
}

@media (min-width: 601px) and (max-width: 991px) {
  .read-more {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0.92vw;
height: 2.47vw;
  }

  .container-child h4{
    margin-top: 0.34vw;
font-family: Inter;

line-height: 2.22vw;
  }
  .container-child p{
    margin-top: -15px;

  }
  .book-author{
margin-top: -4px;
}
.view-more {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0.92vw;
height: 2.90vw;
width: 13.99vw;
}

}


@media (min-width: 300px) and (max-width: 600px) {
  .read-more {
    padding-top: 0;
    padding-bottom: 3.92vw;
  height: 1.90vw;
  width: 15.99vw;
  }

  .container-child h4{
    margin-top: 0.34vw;
font-family: Inter;

line-height: 2.22vw;
  }
  .container-child p{
    margin-top: -5px;

  }
  .book-author{
margin-top: -4px;
}
.view-more {
  padding-top: 0;
  padding-bottom: 3.92vw;
height: 1.90vw;
width: 15.99vw;
}


}